body {
  margin: 0 auto;
  padding: 50px;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  color: #6c757d;
}
h5 {
  font-size: 11px;
  padding: 0px 0px 0px 10px;
}
h4 {
  font-size: 15px;
  line-height: 25px;
}
h1 {
  font-size: 80px;
  color: #a480aa;
}
h6 {
  font-size: 11px;
  margin-top: -15px;
  text-align: center;
}
hr {
  line-height: 1px;
  margin: 1px;
  opacity: 0.05;
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  color: #e96e4f;
  text-decoration: none;
}
.container {
  border: 1px solid rgb(197, 197, 197);
  width: 500px;
  height: 450px;
  padding: 15px 15px 5px 15px;
  background-color: #fdfdfd;
  border-radius: 5px;
}
.searchCity {
  border: 1px solid grey;
  border-radius: 1px;
  height: 25px;
  padding: 2px 130px 2px 10px;
  background-color: #f5f5f5;
}
.buttonGo {
  display: block;
  text-align: right;
}
.btn-secondary {
  font-size: 15px;
  padding: 1px 20px 1px 90px;
  border-radius: 1px;
}

button#currentHome {
  border: none;
  background-color: #fdfdfd;
  margin-top: -10px;
  margin-right: -5px;
  color: #a480aa;
  cursor: default;
}
button#fToC {
  border: none;
  background-color: #fdfdfd;
  margin-top: -10px;
  margin-right: 3px;
  padding: 0px 0px 0px 0px;
  color: #e96e4f;
  cursor: default;
}
button#cToF {
  border: none;
  background-color: #fdfdfd;
  margin-top: -10px;
  margin-right: -8px;
  padding: 0px 5px 0px 0px;
  color: #a480aa;
  cursor: default;
}
div#farnheite.col-6 {
  text-align: right;
  padding: 0px 10px 0px 0px;
  margin-right: 0px;
  margin-top: -10px;
}
.feel {
  list-style: none;
  text-align: center;
  margin-left: -200px;
  margin-right: -70px;
}
strong#realFeel {
  color: #a480aa;
}

li.day {
  list-style: none;
  display: block;
  text-align: center;
  letter-spacing: -1px;
}
li.hour {
  list-style: none;
  display: block;
  text-align: center;
  letter-spacing: -1px;
}
img#emoji {
  display: block;
  text-align: center;
  margin: 0px auto;

  height: 50px;
}
.tempDegree {
  list-style: none;
  display: block;
  text-align: center;
  margin: 0px auto;
  line-height: 15px;
}
strong.max {
  font-size: 13px;
  text-align: center;
  margin: 0px auto;
}
span.min {
  font-size: 13px;
  font-weight: lighter;
}
.col-2 {
  width: auto;
}
div.col-2 {
  margin: auto;
  padding: 0px 0px;
}
div.row {
  margin: auto;
  padding: 0px 0px;
}
