body {
  margin: 0 auto;
  padding: 50px;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  color: #6c757d;
}
h5 {
  font-size: 11px;
  padding: 0px 0px 0px 10px;
}
h4 {
  font-size: 15px;
  line-height: 25px;
}
h1 {
  font-size: 80px;
  color: #a480aa;
}
h6 {
  font-size: 11px;
  margin-top: -15px;
  text-align: center;
}
hr {
  line-height: 1px;
  margin: 1px;
  opacity: 0.05;
}
.container {
  border: 1px solid rgb(197, 197, 197);
  width: 500px;
  height: 490px;
  padding: 15px 15px 5px 15px;
  background-color: #fdfdfd;
}
.searchCity {
  border: 1px solid grey;
  border-radius: 1px;
  height: 25px;
  padding: 2px 130px 2px 10px;
  background-color: #f5f5f5;
}
.buttonGo {
  display: block;
  text-align: right;
}
.btn-secondary {
  font-size: 15px;
  padding: 1px 30px 1px 90px;
  border-radius: 1px;
}
div#farnheite.col-6 {
  text-align: right;
  padding: 0px 10px 0px 0px;
  margin-right: 0px;
  margin-top: -10px;
}
button#currentHome {
  border: none;
  background-color: #fdfdfd;
  margin-top: -10px;
  margin-right: 7px;
  color: #a480aa;
}
button#fToC {
  border: none;
  background-color: #fdfdfd;
  margin-top: -10px;
  margin-right: 3px;
  padding: 0px 0px 0px 0px;
  color: #a480aa;
}
button#cToF {
  border: none;
  background-color: #fdfdfd;
  margin-top: -10px;
  margin-right: -8px;
  padding: 0px 5px 0px 0px;
  color: #a480aa;
}
.feel {
  list-style: none;
  text-align: center;
  margin-left: -200px;
  margin-right: -70px;
}
strong#realFeel {
  color: #a480aa;
}
.hour {
  list-style: none;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.emoji {
  font-size: 25px;
  padding: 10px 0px 10px 0px;
}
.emojiFirst {
  display: block;
  font-size: 130px;
  text-align: center;
  margin-top: 50px;
  margin-left: 0px;
}
.day {
  letter-spacing: -1px;
  margin: 0 auto;
}
.min {
  margin-top: -10px;
  font-size: 13px;
  font-weight: lighter;
}
